body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #555;
}

#link:hover {
  color: #3498db;
}

#white-link {
  transition: 0.3s;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#white-link:hover {
  color: #3498db;
}
